//programa Css

body{

background:navy;
color:White;

}

.titulo
{
border-radius:20px;

background-color:lawngreen;

height:35px;
}

.vap{

color:black;
}

imagem{

margin:45px;
border-radius:10px;

.
}
.conteudo{

margin:10px;
}

.secao{

border-radius:30px;
width:200px;
height:160px;

}

ul li{

margin:px;
color:White;
}

.artigo{

margin:20px;
}

/*comandos da página 02 */

.titulo02{

border-radius:20px;

background-color:lawngreen;

height:35px;

}

.H{

color:black;
margin:20px;
}

/* div do rodapé*/
.rodape{

background:White;
height:250px;
border-radius:10px;
color:black;

}
.titulo_rodape{

color:black;
margin:40px;

}

.pr{

margin:20px;
}
